@page "/counter"

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@*<Component Counter="currentCount">
    <BodyTemplate>
        <button @onclick="ClickBody">Click in BodyTemplate</button>
    </BodyTemplate>
</Component>*@

<Component @ref="child"></Component>

@code {
    private int currentCount = 0;
    private Component child;
    //private Timer timer;

    //protected override void OnInitialized()
    //{
    //    base.OnInitialized();
    //    timer = new Timer(2000);
    //    timer.Elapsed += OnTimedEvent;
    //    timer.Enabled = true;
    //}

    private void OnTimedEvent(object source, ElapsedEventArgs e)
    {
        IncrementCount();
        Console.WriteLine($"Counter value {this.currentCount}");
    }

    private void IncrementCount()
    {
        currentCount++;
        child.Counter = currentCount;
        child.Refresh();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        Console.WriteLine($"Counter - OnAfterRender at {DateTime.Now.ToString("hh:MM:ss.fff")}");
    }
}
